
/* general css */
body {
    max-width: 55em;
    margin: 0 auto;
    font-family: Arial, Verdana, Tahoma;
    text-align: center;
    background: black;
    color: white;
}

h1 {
	font-size: 4.5em;
	margin: 0;

}

p {
	font-size: 1.5em;
}


a {
	text-decoration: none;
	padding: 0.7em;
	background-color: white;
	color: black;
	border-radius: 2em;
	border: 0.1em solid white;

}

a:hover {
	background-color: black;
	color: white;
}



/* this is for the navbar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: black;
	display: inline-block;

}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	background-color: black;
	border-radius: 0em;
	border: 0em;
}

li a:hover {
	background-color: white;
	color: black;
}


/* these are classes */
.logo {
	margin: 1em;
}

.main {
	margin-top: 2.5em;
	margin-bottom: 3em;
	
}

